.contentBtn{
    position: absolute;
    bottom: 10%;
    left: 45%;
    width: 50%;
}

.contentText{
    position: absolute;
    width: 30%;
    padding: 1%;
    top: 1%;
    right: 1%;
    background: #555353; 
    border-radius: 10px;

}